# BDApps API Configuration
BDAPPS_BASE_URL=https://developer.bdapps.com
BDAPPS_APP_ID=
BDAPPS_PASSWORD=
BDAPPS_SERVICE_PROVIDER_APP_ID=
BDAPPS_HASH_SECRET=
BDAPPS_APP_HASH=

# Server Configuration
PORT=8000